
<!-- app.component.html -->
<div class="navbar">
  <ul>
    <li><a routerLink="/admin/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/admin/signup" routerLinkActive="active">Sign Up</a></li>
    <li><a routerLink="/admin/register" routerLinkActive="active">Register</a></li>
    <li><a routerLink="/admin/forgot-password" routerLinkActive="active">Forgot Password</a></li>
    <li><a routerLink="/admin/verify-email" routerLinkActive="active">Verify Email</a></li>
  </ul>
</div>

<!-- This is where the routed views will be displayed -->
<router-outlet></router-outlet>


